# ============================================
# Python
# ============================================

__pycache__/
*.py[cod]
*.class

# ============================================
# Virtual Environment
# ============================================

.venv/
venv/
env/

# ============================================
# Jupyter
# ============================================

.ipynb_checkpoints/

# ============================================
# IDE
# ============================================

.vscode/
.idea/

# ============================================
# Environment / Secrets
# ============================================

.env
.env.*
!.env.example

# ============================================
# Raw Datasets
# ============================================

datasets/raw/*

# Keep folder structure
!datasets/raw/.gitkeep

# ============================================
# Processed Datasets
# ============================================

datasets/processed/*

!datasets/processed/.gitkeep

# ============================================
# Machine Learning Models
# ============================================

models/*

!models/.gitkeep

# ============================================
# Generated Figures
# ============================================

outputs/figures/*

!outputs/figures/.gitkeep

# ============================================
# Generated Reports
# ============================================

outputs/reports/*

!outputs/reports/.gitkeep

# ============================================
# OS Files
# ============================================

Thumbs.db
.DS_Store

# ============================================
# Logs
# ============================================

*.log
